.hero-abt {
  position: relative;
  background-image: url("abt.jpg");
  background-size: cover;
  background-position: center 0%;
  min-height: 90vh;
  height: 800px;
  display: flex;
}

.nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(11, 11, 11, 0.41);
  backdrop-filter: blur(4px);
  height: 60px;
  display: flex;
  align-items: center;
  z-index: 1000;
}

.nav-item {
  font-weight: bold;
  font-size: 25px;
  font-family: "Jersey 15", sans-serif;
  font-weight: 400;
  font-style: normal;
  padding: 0;
}

.nav-link {
  color: #e9e9e9 !important;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: #ffffff !important;
}
.body {
  background-color: rgb(65, 115, 160);
}
.text-block {
  margin: 7vw;
  max-width: 800px;
  font-family: monospace;
  font-size: clamp(14px, 4vw, 32px);
  color: #fff;
}

.char {
  will-change: transform;
  display: inline-block;
}
.proj {
  background: url("Black\ and\ White\ Classic\ Coming\ Soon\ Banner.jpg");
  background-size: cover;
  background-position: center 0%;
  min-height: 90vh;
  height: 800px;
  display: flex;
}

.bawdy {
  background: url("bdyrk.jpg");
  background-size: cover;
  background-position: center 0%;
  min-height: 90vh;
  height: 800px;
  display: flex;
}

body {
  background-image: url("dotsb.avif");
}

.subhead {
  font-family: "Jersey 15", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 30px;
}
.name {
  font-family: "BBH Sans Bogle", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-family: 1000px;
}
